body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h1 {
  font-size: 56px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}

ul {
  list-style-type: none;
}
